<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
</head>
<body>
    <h3 class="">Une Livraison a été effectuée en votre nom sur <strong> <em style="color:red">FedRelay</em> </strong></h3>
    <h5 class="">Salut Mr/Mme {{colis_recever_name}} </h5>

    <p class="">Mr/Mme {{sender_name}} {{sender_lastname}} vous a envoyé un colis le <strong> <em style="color:red">{{date}}</em> </strong></p>

    <em>Votre code de suivi est: <strong style="color: red;"> {{follow_code}} </strong> </em>
</body>
</html>