body{
    font-family: 'Raleway';
    width: 100%;
}
#check-icon{
    margin-left: 122px !important;
    margin-right: -50px !important;
}


  
@media screen and (min-width:767px) {
    #check-icon{
        margin-left: 93px !important;
    }
}

@media (max-width:320px) {
    #check-icon{
        margin-left: 0px !important;
    }
}

@media (min-width:375px){
    #check-icon{
        margin-left:120px !important;
    }
}

@media (min-width:425px){
    #check-icon{
        margin-left:145px !important;
    }
}

@media (min-width:768px){
    #check-icon{
        margin-left:292px !important;
    }
}


@media (min-width:1024px){
    #check-icon{
        margin-left:122px !important;
    }
}


#video-icon{
    margin-left: 60px;
}

@media (min-width:320px) {
    #video-icon{
        margin-left: 50px !important;
    }
}

@media (min-width:375px){
    #video-icon{
        margin-left:85px !important;
    }
}

@media (min-width:425px){
    #video-icon{
        margin-left:113px !important;
    }
}

@media (min-width:768px){
    #video-icon{
        margin-left:245px !important;
    }
}

@media (min-width:1024px){
    #video-icon{
        margin-left:55px !important;
    }
}

#livraison-icon{

}

@media (min-width:320px) {
    #livraison-icon{
        margin-left: 96px;
    }
}

@media (min-width:375px){
    #livraison-icon{
        margin-left:125px;
    }
}

@media (min-width:425px){
    #livraison-icon{
        margin-left:150px;
    }
}

@media (min-width:768px){
    #livraison-icon{
        margin-left:300px;
    }
}

@media (min-width:1024px){
    #livraison-icon{
        margin-left:95px;
    }
}



/********* FIN ICONS *********/



/********* RESPONSIVE BTN *********/

    #btn-cmdRelay{
    
        background-color: #32b44a;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
       
    
    }
    #btn-DangerRelay{
       
        background-color:#ed2036 ;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
    }
    


  

    

/********** END BTN RESPONSIVE **************/


/****** TEXTE AND FOOTER RESPONSIVE ********/

@media screen and (min-width:767px){
    p{
        text-align: center;
        
    }

    img{
        text-align: center;
        margin: auto;
        width: auto;
        transform: translate(0%, 50%);
    }
}


@media screen and (max-width:767px){
    p{
        text-align: center;  
        
    }

    img{
        text-align: center;
        margin: auto;
        width: auto;
        transform: translate(0%, 50%);
    }
}


@media screen and (min-width:996px){
    p{
        text-align: center;
        
    }

    img{
        text-align: center;
        margin: 5px 5px 0px -100px;
        width: auto;
        transform: translate(0%, 50%);
    }
}



@media screen and (max-width:996px){
    p{
        text-align: center;
        
    }

    img{
        text-align: center;
        width: auto;
        transform: translate(0%, 50%);
    }
}



@media screen and (min-width:1024px){
    p{
        text-align: center;
        
    }

    img{
        text-align: center;
        margin: 0% 25% 0px 15%!important;
        width: auto;
        transform: translate(0%, 50%);
    }
}



@media screen and (min-width:1440px){
    p{
        text-align: center;
        
    }

    img{
        text-align: center;
        margin: 5px 5px 0px -210px!important;
        width: auto;
        transform: translate(0%, 50%);
    }
}


