body{
    font-family: 'Raleway';
}
#check-icon{
    margin-left: 122px !important;
    margin-right: -50px !important;
}


  
@media (min-width:320px) {
    #check-icon{
        margin-left: 93px !important;
    }
}

@media (min-width:375px){
    #check-icon{
        margin-left:120px !important;
    }
}

@media (min-width:425px){
    #check-icon{
        margin-left:145px !important;
    }
}

@media (min-width:768px){
    #check-icon{
        margin-left:292px !important;
    }
}


@media (min-width:1024px){
    #check-icon{
        margin-left:122px !important;
    }
}


#video-icon{
    margin-left: 60px;
}

@media (min-width:320px) {
    #video-icon{
        margin-left: 50px !important;
    }
}

@media (min-width:375px){
    #video-icon{
        margin-left:85px !important;
    }
}

@media (min-width:425px){
    #video-icon{
        margin-left:113px !important;
    }
}

@media (min-width:768px){
    #video-icon{
        margin-left:245px !important;
    }
}

@media (min-width:1024px){
    #video-icon{
        margin-left:55px !important;
    }
}

#livraison-icon{

}

@media (min-width:320px) {
    #livraison-icon{
        margin-left: 96px;
    }
}

@media (min-width:375px){
    #livraison-icon{
        margin-left:125px;
    }
}

@media (min-width:425px){
    #livraison-icon{
        margin-left:150px;
    }
}

@media (min-width:768px){
    #livraison-icon{
        margin-left:300px;
    }
}

@media (min-width:1024px){
    #livraison-icon{
        margin-left:95px;
    }
}



/********* FIN ICONS *********/



/********* RESPONSIVE BTN *********/

#btn-cmdRelay{
    font-family: "ralaway font";
    background-color: #32b44a;
    font-size: 13px;
    border-radius: 25px;
    padding: 10px 95px 10px 45px !important;
    text-decoration: none;
    color: #fff;
    margin-left: 75px!important;

}

@media (min-width:320px){
    #btn-cmdRelay {
        background-color: #32b44a;
        font-size: 13px;
        border-radius: 25px;
        padding:10px 15px 10px 15px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 30px !important;
    }
}

@media (min-width:375px){
    #btn-cmdRelay{
        background-color: #32b44a;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 28px 10px 28px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 45px !important;
    }
}

@media (min-width:425px){
    #btn-cmdRelay{
        background-color: #32b44a;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 28px 10px 28px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 65px !important;
    }
    }


@media (min-width:768px){

    #btn-cmdRelay {
        background-color: #32b44a;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 16px 10px 16px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 18px !important;
    }
    }

    @media (min-width:1024px){

        #btn-cmdRelay {  
            background-color: #32b44a;
            font-size: 13px;
            border-radius: 25px;
            padding: 10px 36px 10px 36px !important;
            text-decoration: none;
            color: #fff;
            margin-left: 68px !important;
        }
        }
    



#btn-DangerRelay{
    font-family: "ralaway font";
    background-color:#ed2036 ;
    font-size: 13px;
    border-radius: 25px;
    padding: 10px 45px 10px 45px !important;
    text-decoration: none;
    color: #fff;
    margin-left: 85px !important;
}

@media (min-width:320px){
#btn-DangerRelay {
    background-color: #ed2036;
    font-size: 13px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px !important;
    text-decoration: none;
    color: #fff;
    margin-left: 30px !important;
}
}

@media (min-width:375px){
    #btn-DangerRelay {
       
        background-color: #ed2036;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 28px 10px 28px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 45px !important;
    }
    }


@media (min-width:425px){
    #btn-DangerRelay {
       
        background-color: #ed2036;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 28px 10px 28px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 65px !important;
    }
    }


@media (min-width:768px){
  
    #btn-DangerRelay {
       
        background-color: #ed2036;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 16px 10px 16px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 18px !important;
    }
    }



@media (min-width:1024px){
    #btn-DangerRelay {  
        background-color: #ed2036;
        font-size: 13px;
        border-radius: 25px;
        padding: 10px 36px 10px 36px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 68px !important;
    }
    }





/********** END BTN RESPONSIVE **************/




#btn-cmdImmo{
    background-color:#32b44a;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 45px 10px 45px !important;
    text-decoration: none;
    color: #fff;
    margin-left: 60px!important;
}

@media (min-width:320px){
    #btn-cmdImmo{
        background-color:#32b44a;
        font-size: 13px;
        border-radius: 5px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 25px !important;
    }
    }

@media (min-width:375px){
    #btn-cmdImmo{
        background-color:#32b44a;
        font-size: 13px;
        border-radius: 5px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 60px !important;
    }
    }

@media (min-width:425px){
    #btn-cmdImmo{
        background-color:#32b44a;
        font-size: 13px;
        border-radius: 5px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
        margin-left: 85px !important;
    }
    }


    
@media (min-width:768px){
    #btn-cmdImmo{
        background-color:#32b44a;
        font-size: 13px;
        border-radius: 5px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
        margin-left: -55px !important;
       
    }
    }

        
@media (min-width:1024px){
    #btn-cmdImmo{
        background-color:#32b44a;
        font-size: 13px;
        border-radius: 5px;
        padding: 10px 45px 10px 45px !important;
        text-decoration: none;
        color: #fff;
        margin-left: -15px !important;
        
    }
    }





hr{
    margin:0px 150px 0px -145px !important;
}

#text-footer{
    margin:15px 130px 0px -160px !important;
}

p{
    text-align: center;
}


@media (min-width:320px){
    p{
        text-align: center;
       
    }
    #text-footer {
        margin: 15px 0px 0px -10px !important;
    }
    hr {
        margin: 0px 0px 0px -1px !important;
    }
}


@media (min-width:375px){
    hr {
        margin: 0px 0px 0px -1px !important;
    }
}


@media (min-width:425px){
    hr {
        margin: 0px 0px 0px -1px !important;
    }
}

@media (min-width:768px){
    hr {
        margin: 0px 50px 0px -130px !important;
    }
    #text-footer{
        margin: 15px 8px 0px -175px !important;
       
    }
}